
.heroSection{
  margin: 0;
  padding: 0;
}

.HeroImage{
  width: 100%;
  height: 600px;
  background-image: url(../../assets/Images/hero.png);
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.HeroImage::before{
  content: "";
  background: rgba(255, 255, 255, 0.774);
  position: absolute;
  height: 100%;
  width: 100%;
}
.HeroImage img{
  width: 100%;
  height: 100%;
}

.ShowdoctorData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
  flex-direction: row;
}
.doctor-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  padding: 0 1rem;
}


.testSection{
  text-align: center;
  padding-top: 100px;
}

.test-list{
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 50px;
}

.test-card-body{
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 60px;
  max-height: 60px;
  justify-content: space-around;
  background: green;
  box-shadow: 0 4px 8px black;
  margin-top: 10px;
  align-items: center;
}

.footer{
  background: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(max-width:740px){
  .test-list{
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 0px;
  }

}