



.modifyData {
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
  background-color: gray;
  display: flex;
  justify-self: flex-end;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    width: 500px;
    margin-left: auto;
    margin-right: 0px;
    float: right;
}