

.doctor-card{
    background: rgb(255, 255, 255);
    width: 300px;
    height: fit-content;
    border: 1px solid rgba(20, 20, 20, 0.418);
    border-radius: 20px;
    box-shadow: 0 4px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}
.doctor-card img{
    height: 350px;
    width: 300px;
    border-radius: 20px;
}
.Bookingbtn{
    padding: 10px;
    border: 1px solid black;
    outline: none;
    margin-top: 5px;
}

@media (max-width:740px) {
    .doctor-card {
        width: 100%;
    }
    .doctor-card img {
        width: 100%;
        height: auto;
    }
}